@using TestASP.Models


<div>
    <h1>Buy a cat</h1>
      <p>
          <a href="/BuyCat/AddCat">Add Cat</a>
     </p>
     <table class="table table-striped">
         <thead>
             <tr>               
                @foreach (Cat item in Model)
                {
                    <th >@Html.DisplayNameFor(m => item.Breed)</th>
                    <th >@Html.DisplayNameFor(m => item.DateOfBirthday)</th>
                    <th >@Html.DisplayNameFor(m => item.Color)</th>
                    <th >@Html.DisplayNameFor(m => item.Price)</th>
                    break;
                }
             </tr>
         </thead>

         <tbody>
            @foreach (Cat item in Model)
            {
                 <tr>
                     <td>@item.Breed</td>
                     <td>@item.DateOfBirthday</td>
                     <td>@item.Color</td>
                     <td>@item.Price</td>
                         <td>
                            <a href="/BuyCat/Buy">Buy</a> | 
                            <a asp-controller="BuyCat" asp-action="Edit" asp-route-Id="@item.Id">Edit</a>
                        </td> 
                 </tr>
            }
         </tbody>
     </table>
</div>
